* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  margin: 0;
}
.v2265_501 {
  width: 100%;
  height: 960px;
  background: linear-gradient(rgba(0,151,184,1), rgba(0,55,68,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2265_502 {
  width: 350px;
  height: 110px;
  background: url("../images/v2265_502.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 30px;
  overflow: hidden;
}
.v2265_503 {
  width: 350px;
  height: 110px;
  background: url("../images/v2265_503.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2265_514 {
  width: 330px;
  height: 64px;
  background: url("../images/v2265_514.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 680px;
  left: 272px;
  overflow: hidden;
}
.v2246_587 {
  width: 330px;
  height: 64px;
  background: url("../images/v2246_587.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2246_588 {
  width: 190px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 98px;
  font-family: Rounded Mplus 1c Bold;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v2265_516 {
  width: 711px;
  height: 53px;
  background: url("../images/v2265_516.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 537px;
  left: 272px;
  overflow: hidden;
}
.v2265_509 {
  width: 711px;
  height: 2px;
  background: url("../images/v2265_509.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 0px;
  overflow: hidden;
}
.v2265_517 {
  width: 265px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v2265_508 {
  width: 858px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 306px;
  left: 272px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
