* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  margin: 0;
}
.v2264_415 {
  width: 1536px;
  height: 960px;
  background: linear-gradient(rgba(0,151,184,1), rgba(0,55,68,1));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2264_416 {
  width: 350px;
  height: 110px;
  background: url("../images/v2264_416.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 30px;
  overflow: hidden;
}
.v2264_417 {
  width: 99px;
  height: 99px;
  background: url("../images/v2264_417.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 1384px;
  overflow: hidden;
}
.v2264_418 {
  width: 307px;
  height: 86px;
  background: url("../images/v2264_418.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 636px;
  left: 5px;
  overflow: hidden;
}
.v2264_419 {
  width: 307px;
  height: 86px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(0,115,140,1);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 2px 9px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2264_420 {
  width: 162px;
  color: rgba(0,107,130,1);
  position: absolute;
  top: 21px;
  left: 20px;
  font-family: Rounded Mplus 1c Bold;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v2264_421 {
  width: 307px;
  height: 86px;
  background: url("../images/v2264_421.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 515px;
  left: 5px;
  overflow: hidden;
}
.v2264_422 {
  width: 307px;
  height: 86px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(0,115,140,1);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 2px 9px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2264_423 {
  width: 162px;
  color: rgba(0,107,130,1);
  position: absolute;
  top: 21px;
  left: 20px;
  font-family: Rounded Mplus 1c Bold;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v2264_424 {
  width: 307px;
  height: 86px;
  background: url("../images/v2264_424.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 394px;
  left: 5px;
  overflow: hidden;
}
.v2264_425 {
  width: 307px;
  height: 86px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(240,100,56,1);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 2px 9px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2264_426 {
  width: 162px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 21px;
  left: 20px;
  font-family: Rounded Mplus 1c Bold;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v2264_427 {
  width: 307px;
  height: 86px;
  background: url("../images/v2264_427.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 273px;
  left: 5px;
  overflow: hidden;
}
.v2264_428 {
  width: 307px;
  height: 86px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(0,115,140,1);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 2px 9px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2264_429 {
  width: 111px;
  color: rgba(0,107,130,1);
  position: absolute;
  top: 21px;
  left: 25px;
  font-family: Rounded Mplus 1c Bold;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v2264_430 {
  width: 100%;
  height: 789px;
  background: url("../images/v2264_430.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 171px;
  left: 415px;
  overflow: hidden;
}
.v2264_431 {
  width: 100%;
  height: 789px;
  background: url("../images/v2264_431.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2264_432 {
  width: 100%;
  height: 789px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
  box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.3799999952316284);
  overflow: hidden;
}
.v2264_433 {
  width: 100%;
  height: 465px;
  background: url("../images/v2264_433.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 35px;
  overflow: hidden;
}
.v2264_434 {
  width: 320px;
  height: 205px;
  background: url("../images/v2264_434.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v2264_435 {
  width: 312px;
  height: 205px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,115,140,1);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2264_436 {
  width: 96px;
  height: 99px;
  background: url("../images/v2264_436.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 112px;
  border: 2px solid rgba(0,115,140,1);
  overflow: hidden;
}
.v2264_437 {
  width: 156px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 7px;
  left: 5px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2264_438 {
  width: 130px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 156px;
  left: 7px;
  font-family: Sansation;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2264_439 {
  width: 177px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 176px;
  left: 8px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2264_440 {
  width: 135px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 178px;
  left: 185px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2265_433 {
  width: 50px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 160px;
  left: 262px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2264_441 {
  width: 322px;
  height: 205px;
  background: url("../images/v2264_441.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 260px;
  left: 0px;
  overflow: hidden;
}
.v2264_442 {
  width: 312px;
  height: 205px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,115,140,1);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2264_443 {
  width: 96px;
  height: 99px;
  background: url("../images/v2264_443.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 112px;
  border: 2px solid rgba(0,115,140,1);
  overflow: hidden;
}
.v2264_444 {
  width: 204px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 7px;
  left: 5px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2264_445 {
  width: 130px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 156px;
  left: 7px;
  font-family: Sansation;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2264_446 {
  width: 177px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 176px;
  left: 8px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2265_446 {
  width: 135px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 177px;
  left: 187px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2265_451 {
  width: 55px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 159px;
  left: 262px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2264_447 {
  width: 318px;
  height: 208px;
  background: url("../images/v2264_447.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 345px;
  overflow: hidden;
}
.v2264_448 {
  width: 312px;
  height: 205px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 5px;
  border: 1px solid rgba(0,115,140,1);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2264_449 {
  width: 96px;
  height: 99px;
  background: url("../images/v2264_449.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 117px;
  border: 2px solid rgba(0,115,140,1);
  overflow: hidden;
}
.v2264_450 {
  width: 139px;
  height: 47px;
  background: url("../images/v2264_450.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2264_451 {
  width: 207px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2264_452 {
  width: 130px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 159px;
  left: 12px;
  font-family: Sansation;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2264_453 {
  width: 170px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 179px;
  left: 13px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2265_447 {
  width: 54px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 164px;
  left: 264px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2265_450 {
  width: 135px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 182px;
  left: 183px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2264_455 {
  width: 317px;
  height: 205px;
  background: url("../images/v2264_455.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 260px;
  left: 350px;
  overflow: hidden;
}
.v2264_456 {
  width: 312px;
  height: 205px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,115,140,1);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2264_457 {
  width: 96px;
  height: 99px;
  background: url("../images/v2264_457.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 112px;
  border: 2px solid rgba(0,115,140,1);
  overflow: hidden;
}
.v2264_458 {
  width: 173px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 7px;
  left: 5px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2264_459 {
  width: 130px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 156px;
  left: 7px;
  font-family: Sansation;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2264_460 {
  width: 170px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 176px;
  left: 8px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2265_445 {
  width: 135px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 176px;
  left: 178px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2265_452 {
  width: 58px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 158px;
  left: 259px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2264_462 {
  width: 315px;
  height: 205px;
  background: url("../images/v2264_462.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 700px;
  overflow: hidden;
}
.v2264_463 {
  width: 312px;
  height: 205px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,115,140,1);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2264_464 {
  width: 96px;
  height: 99px;
  background: url("../images/v2264_464.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 112px;
  border: 2px solid rgba(0,115,140,1);
  overflow: hidden;
}
.v2264_465 {
  width: 157px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 7px;
  left: 5px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2264_466 {
  width: 130px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 156px;
  left: 7px;
  font-family: Sansation;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2264_467 {
  width: 186px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 176px;
  left: 8px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2265_448 {
  width: 135px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 180px;
  left: 177px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2265_455 {
  width: 57px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 161px;
  left: 258px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2264_468 {
  width: 312px;
  height: 205px;
  background: url("../images/v2264_468.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 256px;
  left: 700px;
  overflow: hidden;
}
.v2264_469 {
  width: 312px;
  height: 205px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,115,140,1);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2264_470 {
  width: 96px;
  height: 99px;
  background: url("../images/v2264_470.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 112px;
  border: 2px solid rgba(0,115,140,1);
  overflow: hidden;
}
.v2264_471 {
  width: 229px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 7px;
  left: 5px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2264_472 {
  width: 130px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 156px;
  left: 7px;
  font-family: Sansation;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2264_473 {
  width: 166px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 176px;
  left: 8px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2265_449 {
  width: 135px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 180px;
  left: 177px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2265_454 {
  width: 52px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 163px;
  left: 258px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2265_431 {
  width: 193px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 183px;
  left: 454px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2265_432 {
  width: 25px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 174px;
  left: 659px;
  font-family: Sansation;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: right;
}
