* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2285_322 {
  width: 100%;
  height: 960px;
  background: linear-gradient(rgba(0,151,184,1), rgba(0,55,68,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2285_344 {
  width: 100%;
  height: 846px;
  background: rgba(255,252,252,1);
  opacity: 1;
  position: absolute;
  top: 253px;
  left: 29px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v2285_323 {
  width: 350px;
  height: 110px;
  background: url("../images/v2285_323.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 30px;
  overflow: hidden;
}
.v2285_324 {
  width: 350px;
  height: 110px;
  background: url("../images/v2285_324.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2285_325 {
  width: 330px;
  height: 64px;
  background: url("../images/v2285_325.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 849px;
  left: 272px;
  overflow: hidden;
}
.v2285_326 {
  width: 330px;
  height: 64px;
  background: url("../images/v2285_326.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2285_327 {
  width: 190px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 108px;
  font-family: Rounded Mplus 1c Bold;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v2285_328 {
  width: 463px;
  height: 64px;
  background: url("../images/v2285_328.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 849px;
  left: 722px;
  overflow: hidden;
}
.v2285_329 {
  width: 463px;
  height: 64px;
  background: url("../images/v2285_329.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2285_330 {
  width: 266px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 121px;
  font-family: Rounded Mplus 1c Bold;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v2285_343 {
  width: 100%;
  height: 406px;
  background: url("../images/v2285_343.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 308px;
  left: 59px;
  overflow: hidden;
}
.v2285_334 {
  width: 858px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 25px;
  left: 511px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v2285_339 {
  width: 858px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 173px;
  left: 511px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v2285_342 {
  width: 858px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 321px;
  left: 511px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v2285_338 {
  width: 99px;
  height: 99px;
  background: url("../images/v2285_338.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 147px;
  left: 103px;
  overflow: hidden;
}
.v2285_335 {
  width: 390px;
  height: 97px;
  background: url("../images/v2285_335.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2285_336 {
  width: 365px;
  height: 97px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(0,115,140,1);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 2px 9px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2285_337 {
  width: 375px;
  color: rgba(0,107,130,1);
  position: absolute;
  top: 24px;
  left: 14px;
  font-family: Rounded Mplus 1c Bold;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v2285_340 {
  width: 350px;
  height: 110px;
  background: url("../images/v2285_340.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 296px;
  left: 0px;
  overflow: hidden;
}
.v2285_341 {
  width: 350px;
  height: 110px;
  background: url("../images/v2285_341.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #006B82;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2285_345 {
  width: 799px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 77px;
  left: 483px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 100px;
  opacity: 1;
  text-align: left;
}
