* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
a {
  text-decoration: none;
  color: black;
}
.v2271_337 {
  width: 100%;
  height: 960px;
  background: linear-gradient(rgba(0,151,184,1), rgba(0,55,68,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2271_338 {
  width: 350px;
  height: 110px;
  background: url("../images/v2271_338.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 30px;
  overflow: hidden;
}
.v2271_339 {
  width: 99px;
  height: 99px;
  background: url("../images/v2271_339.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 1384px;
  overflow: hidden;
}
.v2271_352 {
  width: 100%;
  height: 789px;
  background: url("../images/v2271_352.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 171px;
  left: 414px;
  overflow: hidden;
}
.v2271_353 {
  width: 100%;
  height: 789px;
  background: url("../images/v2271_353.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2271_354 {
  width: 100%;
  height: 789px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
  box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.3799999952316284);
  overflow: hidden;
}
.v2271_422 {
  width: 276px;
  height: 227px;
  background: url("../images/v2271_422.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 785px;
  overflow: hidden;
}
.v2271_423 {
  width: 276px;
  height: 227px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  box-shadow: -1px 4px 15px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2271_426 {
  width: 144px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 14px;
  left: 23px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2271_428 {
  width: 276px;
  height: 227px;
  background: url("../images/v2271_428.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 457px;
  overflow: hidden;
}
.v2271_429 {
  width: 276px;
  height: 227px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  box-shadow: -1px 4px 15px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2271_442 {
  width: 194px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 43px;
  left: 22px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v2271_431 {
  width: 144px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 14px;
  left: 23px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2271_434 {
  width: 276px;
  height: 227px;
  background: url("../images/v2271_434.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 129px;
  overflow: hidden;
}
.v2271_435 {
  width: 276px;
  height: 227px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  box-shadow: -1px 4px 15px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2271_438 {
  width: 149px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 14px;
  left: 24px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2271_441 {
  width: 194px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 63px;
  left: 24px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v2338_257 {
  width: 194px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 282px;
  left: 1223px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v2271_407 {
  width: 403px;
  height: 86px;
  background: url("../images/v2271_407.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 821px;
  left: 0px;
  overflow: hidden;
}
.v2271_408 {
  width: 378px;
  height: 86px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(0,115,140,1);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 2px 9px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2271_409 {
  width: 388px;
  color: rgba(0,107,130,1);
  position: absolute;
  top: 22px;
  left: 15px;
  font-family: Rounded Mplus 1c Bold;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v2271_413 {
  width: 307px;
  height: 86px;
  background: url("../images/v2271_413.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 496px;
  left: 0px;
  overflow: hidden;
}
.v2271_414 {
  width: 307px;
  height: 86px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(0,115,140,1);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 2px 9px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2271_415 {
  width: 237px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 21px;
  left: 25px;
  font-family: Rounded Mplus 1c Bold;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v2271_416 {
  width: 307px;
  height: 86px;
  background: url("../images/v2271_416.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 394px;
  left: 5px;
  overflow: hidden;
}
.v2271_445 {
  width: 307px;
  height: 86px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(240,100,56,1);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 2px 9px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2271_418 {
  width: 214px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 21px;
  left: 20px;
  font-family: Rounded Mplus 1c Bold;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v2271_419 {
  width: 307px;
  height: 86px;
  background: url("../images/v2271_419.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 292px;
  left: 5px;
  overflow: hidden;
}
.v2271_444 {
  width: 307px;
  height: 86px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(0,115,140,1);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 2px 9px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2271_421 {
  width: 287px;
  color: rgba(0,107,130,1);
  position: absolute;
  top: 21px;
  left: 20px;
  font-family: Rounded Mplus 1c Bold;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
