* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1914_353 {
  width: 1536px;
  height: 960px;
  background: linear-gradient(rgba(0,151,184,1), rgba(0,55,68,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2292_263 {
  width: 407px;
  height: 86px;
  background: url("../images/v2292_263.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 853px;
  left: 5px;
  overflow: hidden;
}
.v1914_361 {
  width: 407px;
  height: 86px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 5px 2px 9px rgba(0, 0, 0, 0.25);
}
.v1914_362 {
  width: 375px;
  color: rgba(0,107,130,1);
  position: absolute;
  top: 21px;
  left: 32px;
  font-family: Rounded Mplus 1c Bold;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v1914_372 {
  width: 22px;
  height: 28px;
  background: url("../images/v1914_372.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 1461px;
  overflow: hidden;
}
.v2332_280 {
  width: 22px;
  height: 28px;
  background: url("../images/v2332_280.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2332_278 {
  width: 100%;
  height: 855px;
  background: url("../images/v2332_278.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 171px;
  left: 370px;
  overflow: hidden;
}
.v1914_356 {
  width: 100%;
  height: 855px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 44px;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
  box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.3799999952316284);
  overflow: hidden;
}
.v1914_357 {
  width: 87px;
  height: 95px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 106px;
  left: 0px;
  border-radius: 50%;
  box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.25);
}
.v2332_279 {
  width: 61px;
  height: 63px;
  background: url("../images/v2332_279.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 122px;
  left: 10px;
  overflow: hidden;
}
.v2292_262 {
  width: 307px;
  height: 95px;
  background: url("../images/v2292_262.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 5px;
  overflow: hidden;
}
.v1914_360 {
  width: 307px;
  height: 86px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(240,100,56,1);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 2px 9px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1914_375 {
  width: 236px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 26px;
  left: 22px;
  font-family: Rounded Mplus 1c Bold;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v2296_259 {
  width: 350px;
  height: 110px;
  background: url("../images/v2296_259.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 30px;
  overflow: hidden;
}
.v1914_376 {
  width: 350px;
  height: 110px;
  background: url("../images/v1914_376.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2294_257 {
  width: 100%;
  height: 638px;
  background: url("../images/v2294_257.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 263px;
  left: 583px;
  overflow: hidden;
}
.v1914_363 {
  width: 432px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Sansation;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v1914_365 {
  width: 383px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 98px;
  left: 0px;
  font-family: Sansation;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2295_258 {
  width: 735px;
  height: 543px;
  background: url("../images/v2295_258.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 508px;
  overflow: hidden;
}
.v1914_385 {
  width: 735px;
  height: 543px;
  background: url("../images/v1914_385.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
