* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
body {
  font-size: 14px;
}
.v2263_366 {
  width: 100%;
  height: 960px;
  background: linear-gradient(rgba(0,151,184,1), rgba(0,55,68,1));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2263_368 {
  width: 350px;
  height: 110px;
  background: url("../images/v2263_368.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 30px;
  overflow: hidden;
}
.v2263_370 {
  width: 99px;
  height: 99px;
  background: url("../images/v2263_370.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 1384px;
  overflow: hidden;
}
.v2263_372 {
  width: 307px;
  height: 86px;
  background: url("../images/v2263_372.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 636px;
  left: 5px;
  overflow: hidden;
}
.v2263_373 {
  width: 307px;
  height: 86px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(240,100,56,1);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 2px 9px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2263_374 {
  width: 162px;
  color: rgba(0,107,130,1);
  position: absolute;
  top: 21px;
  left: 20px;
  font-family: Rounded Mplus 1c Bold;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v2263_375 {
  width: 307px;
  height: 86px;
  background: url("../images/v2263_375.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 515px;
  left: 5px;
  overflow: hidden;
}
.v2263_376 {
  width: 307px;
  height: 86px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(0,115,140,1);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 2px 9px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2263_377 {
  width: 162px;
  color: rgba(0,107,130,1);
  position: absolute;
  top: 21px;
  left: 20px;
  font-family: Rounded Mplus 1c Bold;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v2263_378 {
  width: 307px;
  height: 86px;
  background: url("../images/v2263_378.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 394px;
  left: 5px;
  overflow: hidden;
}
.v2263_379 {
  width: 307px;
  height: 86px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(0,115,140,1);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 2px 9px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2263_380 {
  width: 162px;
  color: rgba(0,107,130,1);
  position: absolute;
  top: 21px;
  left: 20px;
  font-family: Rounded Mplus 1c Bold;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v2263_381 {
  width: 307px;
  height: 86px;
  background: url("../images/v2263_381.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 273px;
  left: 5px;
  overflow: hidden;
}
.v2263_382 {
  width: 307px;
  height: 86px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(0,115,140,1);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 2px 9px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2263_383 {
  width: 111px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 21px;
  left: 25px;
  font-family: Rounded Mplus 1c Bold;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v2263_384 {
  width: 100%;
  height: 789px;
  background: url("../images/v2263_384.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 171px;
  left: 415px;
  overflow: hidden;
}
.v2263_385 {
  width: 100%;
  height: 789px;
  background: url("../images/v2263_385.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2263_386 {
  width: 100%;
  height: 789px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
  box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.3799999952316284);
  overflow: hidden;
}
.v2263_407 {
  width: 100%;
  height: 582px;
  background: url("../images/v2263_407.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 36px;
  overflow: hidden;
}
.v2263_907 {
  width: 320px;
  height: 205px;
  background: url("../images/v2263_907.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v2263_909 {
  width: 312px;
  height: 205px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,115,140,1);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2264_332 {
  width: 96px;
  height: 99px;
  background: url("../images/v2264_332.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 112px;
  border: 2px solid rgba(0,115,140,1);
  overflow: hidden;
}
.v2263_911 {
  width: 156px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 7px;
  left: 5px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2263_912 {
  width: 130px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 156px;
  left: 7px;
  font-family: Sansation;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2263_913 {
  width: 48px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 176px;
  left: 7px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2263_915 {
  width: 102px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 178px;
  left: 217px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2264_392 {
  width: 312px;
  height: 205px;
  background: url("../images/v2264_392.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 260px;
  left: 0px;
  overflow: hidden;
}
.v2264_393 {
  width: 312px;
  height: 205px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,115,140,1);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2264_394 {
  width: 96px;
  height: 99px;
  background: url("../images/v2264_394.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 112px;
  border: 2px solid rgba(0,115,140,1);
  overflow: hidden;
}
.v2264_395 {
  width: 187px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 7px;
  left: 5px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2264_396 {
  width: 130px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 156px;
  left: 7px;
  font-family: Sansation;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2264_397 {
  width: 48px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 176px;
  left: 7px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2309_257 {
  width: 312px;
  height: 65px;
  background: url("../images/v2309_257.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 517px;
  left: 0px;
  overflow: hidden;
}
.v2309_258 {
  width: 312px;
  height: 65px;
  background: rgba(240,100,56,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,115,140,1);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2309_266 {
  width: 43px;
  height: 42px;
  background: url("../images/v2309_266.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 138px;
  overflow: hidden;
}
.v2264_357 {
  width: 325px;
  height: 208px;
  background: url("../images/v2264_357.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 345px;
  overflow: hidden;
}
.v2264_358 {
  width: 312px;
  height: 205px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 5px;
  border: 1px solid rgba(0,115,140,1);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2264_359 {
  width: 96px;
  height: 99px;
  background: url("../images/v2264_359.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 117px;
  border: 2px solid rgba(0,115,140,1);
  overflow: hidden;
}
.v2264_414 {
  width: 139px;
  height: 47px;
  background: url("../images/v2264_414.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2264_360 {
  width: 130px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2264_361 {
  width: 130px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 159px;
  left: 12px;
  font-family: Sansation;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2309_263 {
  width: 48px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 179px;
  left: 12px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2264_363 {
  width: 102px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 181px;
  left: 222px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2264_399 {
  width: 320px;
  height: 205px;
  background: url("../images/v2264_399.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 260px;
  left: 350px;
  overflow: hidden;
}
.v2264_400 {
  width: 312px;
  height: 205px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,115,140,1);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2264_401 {
  width: 96px;
  height: 99px;
  background: url("../images/v2264_401.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 112px;
  border: 2px solid rgba(0,115,140,1);
  overflow: hidden;
}
.v2264_402 {
  width: 173px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 7px;
  left: 5px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2264_403 {
  width: 130px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 156px;
  left: 7px;
  font-family: Sansation;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2264_404 {
  width: 48px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 176px;
  left: 7px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2264_405 {
  width: 102px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 178px;
  left: 217px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2264_364 {
  width: 312px;
  height: 205px;
  background: url("../images/v2264_364.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 700px;
  overflow: hidden;
}
.v2264_365 {
  width: 312px;
  height: 205px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,115,140,1);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2264_366 {
  width: 96px;
  height: 99px;
  background: url("../images/v2264_366.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 112px;
  border: 2px solid rgba(0,115,140,1);
  overflow: hidden;
}
.v2264_367 {
  width: 157px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 7px;
  left: 5px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2264_368 {
  width: 130px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 156px;
  left: 7px;
  font-family: Sansation;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2264_369 {
  width: 48px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 176px;
  left: 7px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2264_406 {
  width: 312px;
  height: 205px;
  background: url("../images/v2264_406.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 256px;
  left: 700px;
  overflow: hidden;
}
.v2264_407 {
  width: 312px;
  height: 205px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,115,140,1);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2264_408 {
  width: 96px;
  height: 99px;
  background: url("../images/v2264_408.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 112px;
  border: 2px solid rgba(0,115,140,1);
  overflow: hidden;
}
.v2264_409 {
  width: 157px;
  color: rgba(0,115,140,1);
  position: absolute;
  top: 7px;
  left: 5px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2264_410 {
  width: 130px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 156px;
  left: 7px;
  font-family: Sansation;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2264_411 {
  width: 48px;
  color: rgba(240,100,56,1);
  position: absolute;
  top: 176px;
  left: 7px;
  font-family: Sansation;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
